header#main-header {
    height: 72px;
    background-color: #272727;
}

header#main-header .main-content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 30px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header .main-content a{
    color: white;
    text-decoration: none;
    font-family: Roboto Light;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
}