*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font: 14px "Roboto Light";
    -webkit-font-smoothing: antialiased !important;
}